<header class="site-header">
    <div class="brand-container">
        <img src="images/jr-logo.png" alt="JR Logo" class="logo-mark"> 
        <div class="logo-text">
            <h1 class="name">JORGE RANILLA</h1>
            <span class="tagline">H O M E &nbsp; P A G E</span>
        </div>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li class="dropdown-item">
                <a href="about.html">Family ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="about.html#story">Our Story</a></li>
                    <li><a href="about.html#kids">The Kids</a></li>
                    <li><a href="about.html#pets">Pets</a></li>
                </ul>
            </li>
            <li class="dropdown-item">
                <a href="photos.html">Photos ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="photos.html#weddings">Weddings</a></li>
                    <li><a href="photos.html#portraits">Portraits</a></li>
                    <li><a href="photos.html#travel">Travel</a></li>
                </ul>
            </li>
            <li class="dropdown-item">
                <a href="blog.html">Blog ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="blog.html">Latest Posts</a></li>
                </ul>
            </li>
            <li><a href="resume.html">Resume</a></li>
        </ul>
    </nav>
</header>